
.root {
    -fx-background-image: url("/images/download.jpg");
}

.button {
    -fx-background-color: #Fa8fb1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 25px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #ffc1d5;
}

.button:hover {
    -fx-background-color: #ffc1d5;
    -fx-border-color: #FFFFFF;
}
